In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('Dataset Pizahut.xlsx', sheet_name='Purchasing data')
print(df.head(50))

    BillID    Channel    OrderFrom            TransactionDate  SalesAmount  \
0        0  Take Away  CALL CENTER  2021-10-01 00:00:00+00:00       296891
1        1  Take Away        STORE  2021-10-01 00:00:00+00:00       301782
2        2  Take Away      WEBSITE  2021-10-01 00:00:00+00:00       319792
3        3  Take Away        STORE  2021-10-01 00:00:00+00:00       424762
4        4   Delivery        STORE  2021-10-01 00:00:00+00:00       280031
5        5  Take Away        STORE  2021-10-01 00:00:00+00:00       281419
6        6  Take Away        STORE  2021-10-01 00:00:00+00:00       191624
7        7  Take Away        STORE  2021-10-01 00:00:00+00:00       201069
8        8  Take Away  CALL CENTER  2021-10-01 00:00:00+00:00       301044
9        9  Take Away        STORE  2021-10-01 00:00:00+00:00        82851
10      10  Take Away  CALL CENTER  2021-10-01 00:00:00+00:00       157619
11      11  Take Away        STORE  2021-10-01 00:00:00+00:00       439104
12      12   Delivery  CALL CENTER  2021-10-01 00:00:00+00:00       252338
13      13   Delivery        STORE  2021-10-01 00:00:00+00:00       219279
14      14  Take Away        STORE  2021-10-01 00:00:00+00:00       210000
15      15   Delivery  CALL CENTER  2021-10-01 00:00:00+00:00       308822
16      16  Take Away  CALL CENTER  2021-10-01 00:00:00+00:00       306480
17      17  Take Away  CALL CENTER  2021-10-01 00:00:00+00:00       155712
18      18   Delivery      WEBSITE  2021-10-01 00:00:00+00:00       188039
19      19  Take Away        STORE  2021-10-01 00:00:00+00:00       233488
20      20   Delivery  CALL CENTER  2021-10-01 00:00:00+00:00       280413
21      21   Delivery        STORE  2021-10-01 00:00:00+00:00       175264
22      22   Delivery      WEBSITE  2021-10-01 00:00:00+00:00       233634
23      23  Take Away        STORE  2021-10-01 00:00:00+00:00       149647
24      24  Take Away      WEBSITE  2021-10-01 00:00:00+00:00      1030228
25      25  Take Away        STORE  2021-10-01 00:00:00+00:00       378213
26      26   Delivery  CALL CENTER  2021-10-01 00:00:00+00:00       149514
27      27  Take Away        STORE  2021-10-01 00:00:00+00:00       249776
28      28   Delivery        STORE  2021-10-01 00:00:00+00:00       316495
29      29  Take Away        STORE  2021-10-01 00:00:00+00:00       734632
30      30   Delivery  CALL CENTER  2021-10-01 00:00:00+00:00       174715
31      31  Take Away        STORE  2021-10-01 00:00:00+00:00       136478
32      32  Take Away        STORE  2021-10-01 00:00:00+00:00       240515
33      33    Dine In        STORE  2021-10-01 00:00:00+00:00       286465
34      34  Take Away        STORE  2021-10-01 00:00:00+00:00       165276
35      35  Take Away        STORE  2021-10-01 00:00:00+00:00       238178
36      36  Take Away        STORE  2021-10-01 00:00:00+00:00       127076
37      37  Take Away        STORE  2021-10-01 00:00:00+00:00        86699
38      38   Delivery        STORE  2021-10-01 00:00:00+00:00       279491
39      39  Take Away        STORE  2021-10-01 00:00:00+00:00       773730
40      40  Take Away        STORE  2021-10-01 00:00:00+00:00       332410
41      41  Take Away  CALL CENTER  2021-10-01 00:00:00+00:00       152032
42      42   Delivery        STORE  2021-10-01 00:00:00+00:00       152838
43      43  Take Away        STORE  2021-10-01 00:00:00+00:00        83868
44      44   Delivery        STORE  2021-10-01 00:00:00+00:00      2319205
45      45  Take Away        STORE  2021-10-01 00:00:00+00:00        31104
46      46   Delivery  CALL CENTER  2021-10-01 00:00:00+00:00       227561
47      47  Take Away        STORE  2021-10-01 00:00:00+00:00       347903
48      48  Take Away        STORE  2021-10-01 00:00:00+00:00      1042215
49      49   Delivery  CALL CENTER  2021-10-01 00:00:00+00:00       285916

    CustomerID CustomerGender VoucherStatus            Province
0      1753863        Unknown            No    Ho Chi Minh City
1      1124050        Unknown            No               Hanoi
2      1626827           Male            No               Hanoi
3       125643           Male            No               Hanoi
4      2117237        Unknown            No               Hanoi
5      1954725        Unknown            No   Nothern Provinces
6      2097093        Unknown            No               Hanoi
7       602645        Unknown            No  Southern Provinces
8      1223148        Unknown            No   Nothern Provinces
9        86157        Unknown            No  Southern Provinces
10     1448797           Male            No               Hanoi
11      433624        Unknown            No               Hanoi
12      968729        Unknown            No  Southern Provinces
13      775879           Male            No               Hanoi
14     1707327           Male            No               Hanoi
15      970071        Unknown            No  Southern Provinces
16     1717798         Female            No    Ho Chi Minh City
17     1352901        Unknown            No               Hanoi
18      556189         Female            No               Hanoi
19     1958468        Unknown            No               Hanoi
20     2026236        Unknown            No               Hanoi
21     1433803         Female            No               Hanoi
22     1640675        Unknown           Yes               Hanoi
23      899421        Unknown            No               Hanoi
24     1635929        Unknown            No  Southern Provinces
25     1148137        Unknown            No               Hanoi
26      768778           Male            No               Hanoi
27      351254        Unknown            No               Hanoi
28      785638        Unknown            No               Hanoi
29      248918           Male            No               Hanoi
30      781193        Unknown            No  Southern Provinces
31     1639341        Unknown            No   Nothern Provinces
32      767230        Unknown            No  Southern Provinces
33      795710         Female            No   Nothern Provinces
34     1870089           Male            No  Southern Provinces
35      332919           Male            No               Hanoi
36     1127588        Unknown            No   Nothern Provinces
37     2029494         Female            No               Hanoi
38     1414527           Male            No               Hanoi
39     1620418           Male            No  Southern Provinces
40      157717           Male            No               Hanoi
41     2115283           Male            No    Ho Chi Minh City
42      348314        Unknown            No               Hanoi
43     1849810        Unknown            No               Hanoi
44     1362353         Female            No               Hanoi
45     2071800        Unknown            No  Southern Provinces
46      233098         Female            No               Hanoi
47      705546        Unknown            No   Nothern Provinces
48      986858         Female            No  Southern Provinces
49     1883549        Unknown            No   Nothern Provinces

In [36]:
# Get data needed for analysis
df = df.loc[:, ['CustomerID', 'TransactionDate', 'SalesAmount']]

# Calculate the total revenue of each customer
df['Total Sale'] = df.groupby('CustomerID')['SalesAmount'].transform('sum')

#Take out the last order of each customer 
df['Last Order'] = df.groupby('CustomerID')['TransactionDate'].transform('max')

#Transform last order day 
df['Last Order'] = pd.to_datetime(df['Last Order'])
df['Last Order'] = pd.to_datetime(df['Last Order']).dt.strftime('%Y-%m-%d')

# Calculate the transaction date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df['TransactionDate'] = df['TransactionDate'].dt.strftime('%Y-%m-%d')
df['TransactionDate'] = pd.to_datetime(df['TransactionDate']).dt.strftime('%Y-%m-%d')

# Create report date
df['ReportDate'] = '2023-01-10'
df['ReportDate'] = pd.to_datetime(df['ReportDate'])

print(df.head(50))

    CustomerID TransactionDate  SalesAmount  Total Sale  Last Order ReportDate
0      1753863      2021-10-01       296891     1506161  2022-02-06 2023-01-10
1      1124050      2021-10-01       301782     1183064  2022-01-26 2023-01-10
2      1626827      2021-10-01       319792      993004  2022-09-15 2023-01-10
3       125643      2021-10-01       424762     9923370  2022-12-09 2023-01-10
4      2117237      2021-10-01       280031     4058641  2022-10-23 2023-01-10
5      1954725      2021-10-01       281419      281419  2021-10-01 2023-01-10
6      2097093      2021-10-01       191624     2373841  2022-12-31 2023-01-10
7       602645      2021-10-01       201069      201069  2021-10-01 2023-01-10
8      1223148      2021-10-01       301044     1877960  2022-08-22 2023-01-10
9        86157      2021-10-01        82851       82851  2021-10-01 2023-01-10
10     1448797      2021-10-01       157619     1509047  2023-01-08 2023-01-10
11      433624      2021-10-01       439104      439104  2021-10-01 2023-01-10
12      968729      2021-10-01       252338      252338  2021-10-01 2023-01-10
13      775879      2021-10-01       219279     1773700  2022-11-12 2023-01-10
14     1707327      2021-10-01       210000     1200746  2022-09-19 2023-01-10
15      970071      2021-10-01       308822      637653  2022-07-09 2023-01-10
16     1717798      2021-10-01       306480     4360440  2022-10-14 2023-01-10
17     1352901      2021-10-01       155712      155712  2021-10-01 2023-01-10
18      556189      2021-10-01       188039     2043864  2022-06-02 2023-01-10
19     1958468      2021-10-01       233488      703798  2022-02-06 2023-01-10
20     2026236      2021-10-01       280413      912470  2022-06-12 2023-01-10
21     1433803      2021-10-01       175264      761953  2021-12-29 2023-01-10
22     1640675      2021-10-01       233634      233634  2021-10-01 2023-01-10
23      899421      2021-10-01       149647      841273  2022-01-30 2023-01-10
24     1635929      2021-10-01      1030228     1030228  2021-10-01 2023-01-10
25     1148137      2021-10-01       378213      378213  2021-10-01 2023-01-10
26      768778      2021-10-01       149514     6619233  2022-12-18 2023-01-10
27      351254      2021-10-01       249776      249776  2021-10-01 2023-01-10
28      785638      2021-10-01       316495      316495  2021-10-01 2023-01-10
29      248918      2021-10-01       734632     6452439  2023-01-02 2023-01-10
30      781193      2021-10-01       174715     1048724  2021-10-28 2023-01-10
31     1639341      2021-10-01       136478      136478  2021-10-01 2023-01-10
32      767230      2021-10-01       240515      240515  2021-10-01 2023-01-10
33      795710      2021-10-01       286465     3133945  2022-12-30 2023-01-10
34     1870089      2021-10-01       165276      537537  2022-05-27 2023-01-10
35      332919      2021-10-01       238178      238178  2021-10-01 2023-01-10
36     1127588      2021-10-01       127076      127076  2021-10-01 2023-01-10
37     2029494      2021-10-01        86699     1137377  2022-05-03 2023-01-10
38     1414527      2021-10-01       279491     3975307  2022-12-19 2023-01-10
39     1620418      2021-10-01       773730     1225563  2021-10-31 2023-01-10
40      157717      2021-10-01       332410     2826516  2022-10-29 2023-01-10
41     2115283      2021-10-01       152032     1436594  2022-06-01 2023-01-10
42      348314      2021-10-01       152838      152838  2021-10-01 2023-01-10
43     1849810      2021-10-01        83868      228910  2022-02-10 2023-01-10
44     1362353      2021-10-01      2319205     7619432  2021-10-01 2023-01-10
45     2071800      2021-10-01        31104      396646  2022-11-01 2023-01-10
46      233098      2021-10-01       227561     5584042  2023-01-01 2023-01-10
47      705546      2021-10-01       347903     1234466  2022-08-02 2023-01-10
48      986858      2021-10-01      1042215     6554060  2022-12-11 2023-01-10
49     1883549      2021-10-01       285916      285916  2021-10-01 2023-01-10

Calculate Recency

In [37]:
# Ensure 'Last Order' is a datetime column
df['Last Order'] = pd.to_datetime(df['Last Order'])

# Ensure 'ReportDate' is a datetime column
df['ReportDate'] = pd.to_datetime(df['ReportDate'])

# Calculate the Recency
df['Recency'] = (df['ReportDate'] - df['Last Order']).dt.days
print(df['Recency'])

0          338
1          349
2          117
3           32
4           79
          ...
1048570      1
1048571      1
1048572      1
1048573      1
1048574      1
Name: Recency, Length: 1048575, dtype: int64

In [38]:
df['Recency'].describe()

count    1.048575e+06
mean     1.704711e+02
std      1.348822e+02
min      1.000000e+00
25%      4.700000e+01
50%      1.430000e+02
75%      2.780000e+02
max      4.660000e+02
Name: Recency, dtype: float64

In [41]:
df['R'] = df['Recency'].apply(lambda x: 1 if x <= 47 else(2 if x>143 and x<=278 else(3 if x>278 and x<=466 else 4)))
print(df['R'])

0          3
1          3
2          4
3          1
4          4
          ..
1048570    1
1048571    1
1048572    1
1048573    1
1048574    1
Name: R, Length: 1048575, dtype: int64

Calculate Frequency

In [48]:
df['Frequency'] = df.groupby('CustomerID')['TransactionDate'].rank(method='dense', ascending=True)
df['Max Frequency'] = df.groupby('CustomerID')['Frequency'].transform('max')
df['Frequency'] = pd.to_numeric(df['Frequency']).astype('int')

In [49]:
df['Frequency'].describe()

count    1.048575e+06
mean     2.746682e+00
std      4.436661e+00
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      3.000000e+00
max      1.810000e+02
Name: Frequency, dtype: float64

In [51]:
max_frequency = df['Frequency'].max()
print(max_frequency)
#181 maybe the outlier so we define max frequency is 4

181

In [70]:
df['F'] = df['Frequency'].apply(lambda x: 1 if x <= 2 else(2 if x>2 and x<=3 else(3 if x>3 and x<=181 else 4)))

In [53]:
print(df['F'])

0          1
1          1
2          1
3          1
4          1
          ..
1048570    1
1048571    4
1048572    2
1048573    1
1048574    4
Name: F, Length: 1048575, dtype: int64

Calculate the Moneytary

In [69]:
print(df['Total Sale'])

0          1506161
1          1183064
2           993004
3          9923370
4          4058641
            ...
1048570     178107
1048571    1889312
1048572    1119060
1048573     797890
1048574    3113654
Name: Total Sale, Length: 1048575, dtype: int64

In [68]:
df['Total Sale'].describe()

count    1.048575e+06
mean     1.357587e+06
std      2.521858e+06
min      7.148000e+03
25%      2.790525e+05
50%      6.194030e+05
75%      1.548363e+06
max      1.337745e+08
Name: Total Sale, dtype: float64

In [71]:
df['M'] = df['Total Sale'].apply(lambda x: 1 if x <= 7148 else(2 if x> 279052 and x<= 619403 else(3 if x>619403 and x<=1548363 else 4)))

In [72]:
print([df['M']])

[0          3
1          3
2          3
3          4
4          4
          ..
1048570    4
1048571    4
1048572    3
1048573    3
1048574    4
Name: M, Length: 1048575, dtype: int64]

Calculate RFM

In [73]:
df['RFM'] = df['R'].astype(str) + df['F'].astype(str) + df['M'].astype(str)

In [74]:
df

,CustomerID,TransactionDate,SalesAmount,Total Sale,Last Order,ReportDate,Recency,R,Frequency,Max Frequency,F,M,RFM
0,1753863,2021-10-01,296891,1506161,2022-02-06,2023-01-10,338,3,1,3.0,1,3,313
1,1124050,2021-10-01,301782,1183064,2022-01-26,2023-01-10,349,3,1,3.0,1,3,313
2,1626827,2021-10-01,319792,993004,2022-09-15,2023-01-10,117,4,1,5.0,1,3,413
3,125643,2021-10-01,424762,9923370,2022-12-09,2023-01-10,32,1,1,47.0,1,4,114
4,2117237,2021-10-01,280031,4058641,2022-10-23,2023-01-10,79,4,1,16.0,1,4,414
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1398136,2023-01-09,178107,178107,2023-01-09,2023-01-10,1,1,1,1.0,1,4,114
1048571,2023258,2023-01-09,331447,1889312,2023-01-09,2023-01-10,1,1,8,8.0,3,4,134
1048572,2041510,2023-01-09,381509,1119060,2023-01-09,2023-01-10,1,1,3,3.0,2,3,123
1048573,1927215,2023-01-09,508205,797890,2023-01-09,2023-01-10,1,1,2,2.0,1,3,113
1048574,324317,2023-01-09,349016,3113654,2023-01-09,2023-01-10,1,1,8,8.0,3,4,134